.container {
  display: flex;
  flex-direction: column;
  gap: 1;
}

.container .head {
  display: flex;

  background: #222;
  border: 1px solid #444;

  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
}

.container .head .cell {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  font-weight: 500;
  font-size: 1.125rem;
}

.container .counter {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.125rem;
  gap: 0.75rem;

  background: #222;
  border: 1px solid #333;
  padding: 0.325rem;
  border-radius: 0.75rem;
}

.empty {
  margin-top: 1rem;
  background-color: #111;
  color: #cccccc;
  border: 2px dashed #222;
  border-radius: 0.75rem;
  padding: 5rem 2rem;
  text-align: center;
  box-shadow: 0 0 0 1px #222 inset;
}

.empty__title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
